body{
    font-family: Arial, Helvetica, sans-serif;
    
}
table,td,th{
     
    text-align: center;
    border: 1px solid black; 
    margin-left: 6.3cm;
}

td,th{
    width: 20px; 
    height: 20px;
    
}


.col-md-6{
    text-align: center;
}